* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: black;
  color: white;
}

h1 {
  text-align: center;
  padding: 5px;
  margin: 5px;
}

button {
  float: right;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 5px;
  padding: 5px;
}

fieldset {
  padding: 5px;
}

.footer {
  float: right;
}

.footer p {
  margin-right: 45px;
  margin-top: 5px;
  color: yellow;
}

#ispis {
  float: right;
  margin-right: 25px;
  color: red;
}

.next-page {
  margin-top: 20px;
  text-align: center;
  color: red;
}
